*{
	font-family: "微软雅黑";
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}
.container{
	width: 1200px;
	margin: 0px auto;
	padding: 0px;
}

.bgImg{
	width: 100%;
}
.navBox{
	width: 100%;
	font-size:20px ;
	color: #818481;
	background: #333;
	position: relative;
}
.navBox .nav{
	width: 1200px;
	margin: 0px auto;
	display: table;
	color: #EEEEEE;
    
}
.navBox .nav div{
	display: inline-block;
	font-size: 16px;;
	line-height: 30px;
	text-align: center;
	padding: 0px 30px;
	cursor: pointer;
}
.LogAndReg{
	position: absolute;
	top: 0px;
	right: 400px;
    line-height: 30px;
}
.LogAndReg a{
	padding: 0px 10px;
}
.col-md-4{
	font-size: 14px;
}
.searBtn{
	width: 120px;
	height: 34px;
	border: none;
	background: rgb(70,70,70);
	color: white;
}
.nav2{
	height: 50px;
	clear: both;
	color: #666666;
	font-size:20px ;
	line-height: 30px;
}
.nav2 .left,.nav2 .left a{
	float: left;
	font-size: 16px;
}
.searchBox{
	width: 491px;
    position: absolute;
    border: 2px solid #67666f;
    top: 5px;
    right: 0px;
}
.searchIcon{
	width: 16px;
	height: 16px;
	background: url(../images/search.png);
	position: absolute;
	top: 9px;
    left: 7px;
	
}
.nav2 .right{
	position: relative;
	float: right;
}
.nav2 .left{
	width: 200px;
	height: 50px;
}
.left a{
	width: 100%;
	height: 100%;
}
.col-md-3{
	border: none;
	padding: 10px;
}
.col-md-3 img{
	width: 90%;
}
.searInput {
	height: 34px;
	width: 367px;
	padding-left: 30px;
	float: left;
}
.clearfix{
	background: #fbfbfb;
}
.row{
	margin: 0px;
}
.left-menu{
	position: absolute;
    top: 180px;
    left: 10%;
    width: 160px;
    font-size: 20px;
    text-align: left;
    background: #4f5153;
    z-index: 999;
    padding: 20px 0px;
}
.left-menu ul{
	list-style: none;
	width:100%;
}
.left-menu ul li{
	width: 100%;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	cursor: default;
	padding: 0px 30px;
	color: white;
}
.left-menu ul li:hover{
	background-color: #ff6700;
}
.displayItem{
	position: absolute;
    width: 180px;
    height: 100%;
    top: 0px;
    left: 160px;
    background:white;
    display: none;
}
.productsItem img{
	width: 30px;
	height: 30px;
	border: 1px solid #f0f0f0;
}
.displayItem span{
	display: inline-block;
    padding-left: 20px; 
}
.productsItem{
	display: block;
	padding: 10px 20px;	
	box-sizing: border-box;
}
.productsItem:hover{
	cursor: pointer;
	border: 1px solid #F0F0F0;
}
.title{
	font-size:18px ;
	background: rgb(70, 71, 75);
	color: #F0F0F0;
}
.productsTitle{
	font-size: 18px;
	
}
.hot{
	border: 2px solid #999;
}
.hot img{
	width: 100%;
}
.goods{
	text-align: left;
}
.col-md-7 span{
	cursor: pointer;
}
#XXproducts,#YLproducts,#SGproducts,#HLproducts,#QJproducts,#YYproducts,#SSproducts,#YJproducts,#TWproducts,#SDproducts,#JJproducts,#studyproducts{
	display: none;
}
.show{
	display: block;
}
.hide{
	display: none;
}
.tb-footer-bd{
	margin-top: 30px;
}
.tb-footer-bd span{
	margin-right: 20px;
}
.price{
	display:table-cell;
	text-align: left; 
	color:#dd3a05;
	font-size: 16px;
	font-weight: 600;
	padding-left:15px ;
	width: 1px;
}
.exemption{
	color:white; 
	display:table-cell;
	border: 1px solid red;
	width: 20%; 
	background: #d85247;
	text-align: center;
}
.cost{
	display: table;
	width: 90%;
}
.introduce{
	width: 90%;
	height: 40px;
    overflow:hidden; 
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2; 
	margin: 10px auto;
}
.shoppingCart{
	width: 90%;
	display: table;
	padding-left: 15px;
}
.glyphicon-tasks{
	float: right;
	padding-left: 15px;
	font-size: 25px;
	color: #6b6868;
}
.glyphicon-shopping-cart{
	float: left;
	font-size: 25px; 
	color: #6b6868;
}
.buyNum{
	display: table-cell;
	text-align: right;
}
.login{
	width: 100%;
    padding: 10px;
    margin: 0px auto;
    text-align: center;
    background: #ece9e9;
    color: #555454;
}
.imgBox{
	width: 100%;
	margin: 0px auto;
	
}
.imgBox>img{
	width: 50%;
}
.login>div{
	margin-top: 10px;
}
.login>div>a{
	color: #78C3F3;
}
.speculateTitle{
	width: 100%;
	display: inline-block;
	text-align: center;
	font-size: 18px;
	line-height: 40px;
	margin-top: 30px;
    background: #4e4a4a;
    color: #f2f3ed;
	
}
.Rightlogin{
	padding: 0px;
}
.Commodity a img{
	width:100%;
}
.loadMore{
	width: 100%;
    margin-top: 20px;
    color: #3d7ee4;
    text-align: center;
	cursor: pointer;
}
.Commodity{
	padding-bottom: 10px;
    border-bottom: 2px dashed;
}

.column{
	background-color:#fff;
	box-shadow:0 0 5px #eee;
}
.clearfix{
	background-color:#fff;
}
.column:hover{
	box-shadow:0 0 5px #ccc;
}
.glyphicon {
	color:#9695af;
}
.introduce{
	color:#565758;
}
.exemption{
	border:none;
	border-radius:2px;
}
.buyNum{
	color:#454647;
}